.project-list-instance-container {
  display: flex;
  flex-direction: row;
  padding-left: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 5px;
}

.project-list-sub-instance-container {
  text-align: left;
  padding-left: 10px;
  padding-bottom: 3px;
  font-family: sans-serif;
}

.client-sub-instance-container {
  text-align: left;
  padding-left: 15px;
  color: rgb(167, 167, 167);
  padding-bottom: 3px;
  font-family: sans-serif;
}
