.project-list-container {
  display: flex;
  flex-direction: row;
  align-content: left;
  text-align: left;
}

/* Style The Dropdown Button */
.dropbtn {
  background-color: white;
  font-family: sans-serif;
  font-weight: bold;
  color: black;
  padding-left: 15px;
  padding-bottom: 5px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.dropdown:hover .dropbtn {
  text-decoration: underline;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  width: 70%;
  transition: 1s all;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  z-index: 1;
}

/* Links inside the dropdown */
/* .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
} */

/* Change color of dropdown links on hover */
/* .dropdown-content a:hover {background-color: #f1f1f1} */


