.project-heading {
  font-family: sans-serif;
  color: black;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 15px;
  padding-bottom: 5px;
  font-size: 20px;
}

.project-list-container {
  position: absolute;
  top: 20px;
  left: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  z-index: 1;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Style The Dropdown Button */
.dropbtn {
  background: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  border: none;
  cursor: pointer;
}

/* Dropdown Content */
.dropdown-content {
  /* transition: all 10s; */
  display: block;
  position: absolute;
  background-color: white;
  text-align: left;
  left:10px;
  z-index: 1;
  animation: 1200ms 1 normal content-expand;
  animation-fill-mode: forwards;
}

@keyframes content-expand {
  from {
    width: 0px;
  }
  to {
    width: 700px;
  }
}

.dropdown-content :focus-visible {
  background-color: aqua;
}

.burger-lines {
  width: 30px;
  height: 3px;
  margin-top: 6px;
  margin-bottom: 6px;
  background-color: black;
}
