.Description-container {
  display: flex;
  justify-content: left;
  text-align: left;
  padding: 15px;
  font-family: sans-serif;
}

/* .Description-text {
  color: darkgray;
  max-width: 1000px;
} */